    {% extends 'base.html' %}
    {% load static %}
    {% block title %}
    LIMS | Chain Of Custody Logs (FO-063)
    {% endblock %}
    {% block Content %}
    Chain Of Custody Logs (FO-063)
    {% endblock %}
    {% block body %}
         <hr style="margin-top: 60px;">
         </hr>
         <div class="" style="margin:10px;width: 100%;">
            <!----------Buttons For Add New COC-------->
            <div>
               <a href="\chain_of_custody_form">
               <button class="white-button"><i class="fa fa-plus"></i> Add new COC  
               </button>
               </a>
            </div>
            <!-------------------------------------------------------------------------------->
            <!--------------------Table Data starts Here-------------------------------------------->
            <table id="example" class="table table-striped table-bordered" style="width:100%">
               <thead>
                  <tr >
                     <th>ID</th>
                     <th>Date</th>
                     <th>Client ID</th>
                     <th>Order_of_the_Form</th>
                     <th>File uploads</th>
                     <th>Actions</th>
                  </tr>
               </thead>
               <tbody>
                  {% for item in data %}
                  <tr>
                     <td>{{item.id}}</td>
                     <td>{{item.Date}}</td>
                     <td>{{item.Client_ID}}</td>
                     <td>{{item.Order_of_the_Form}}</td>
                     <td>{{item.COC_File_Upload}}</td>
                     <td><a href="/edit/{{item.id}}"><button class="white-button"><i class="fa fa-edit"></i></button></a></td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         <div class="pagination my-pagination">
            <span class="step-links">
                {% if data.has_previous %}
                    <a href="?page=1" class="btn btn-primary">&laquo; first</a>
                    <a href="?page={{ data.previous_page_number }}"  class="btn btn-primary">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ data.number }} of {{ data.paginator.num_pages }}.
                </span>
        
                {% if data.has_next %}
                    <a href="?page={{ data.next_page_number }}" class="btn btn-primary">next</a>
                    <a href="?page={{ data.paginator.num_pages }}" class="btn btn-primary">last &raquo;</a>
                {% endif %}
            </span>
        </div>
  </div>
      </section>
      {% endblock %}