
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FO-080 Cannibanoids Data Sheet 100x Wet Weight</title>

    <!-- Box Icons  -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!-- Styles  -->
    <link rel="shortcut icon" href="assets/img/kxp_fav.png" type="image/x-icon">
    
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/css/table.css" />
<script type="text/javascript" src="assets/js/table.js"></script>
<style>

</style>
</head>

<body>
    <div class="sidebar ">

        <!-- If you want to by-default open the side-navbar as closed then use the below line.
        <div class="sidebar close"> -->


        <!-- ========== Logo ============  -->
        <a href="#" class="logo-box">
            <i class='bx bxl-xing'></i>
            <div class="logo-name">LIMS</div>
        </a>

        <!-- ========== List ============  -->
        <ul class="sidebar-list">
            <!-- -------- Home List Item ------- -->
            <li>
                <div class="title">
                    <!-- <a href="home.html" class="link">
                        <i class='bx bx-home'></i>
                        <span class="name">Home</span>
                    </a> -->
                    <!-- <i class='bx bxs-chevron-down'></i> -->
                </div>
                <!-- <div class="submenu">
                    <a href="index.html" class="link submenu-title">Home</a>
                </div> -->
            </li>

        <!-------------- Dropdown List  for Intake documents ------- -->
            <li class="dropdown">
                <div class="title">
                    <a href="#" class="link">
                        <i class='bx bx-collection'></i>
                        <span class="name">Intake Docs</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="submenu">
                    <!-- <a href="#" class="link submenu-title">Category</a> -->
                    <a href="Chain of Custody.html" class="link">Chain Of Custody</a>
                    <a href="Sample Intake log.html" class="link">Sample Intake Log</a>
                    <a href="Sample Intake log.html" class="link">Sample Retain Log</a>
                    <a href="Sample Tracking Log.html" class="link">Sample Tracking Sheet</a>
                </div>
            </li>
        <!----------------------------------------------------------------->

        <!-------------- Dropdown List  for Cannabinoids Documents ------- -->
        <li class="dropdown">
            <div class="title">
                <a href="#" class="link">
                    <i class='bx bx-leaf'></i>
                    <span class="name">Cannabinoids</span>
                </a>
                <i class='bx bxs-chevron-down'></i>
            </div>
            <div class="submenu">
                <!-- <a href="#" class="link submenu-title">Category</a> -->
                <a href="FO-121 Cannabinoids Sample Prep Log Sheet.html" class="link">Sample Prep Log Sheet</a>
                <a href="FO-080 Cannibanoids Data Sheet 2000x.html" class="link">Data Sheet</a>
                <a href="#" class="link">LQC report</a>
            </div>
        </li>
    <!----------------------------------------------------------------->

    <!-------------- Dropdown List  for Water Activity Documents ------- -->
        <li class="dropdown">
            <div class="title">
                <a href="#" class="link">
                    <i class='bx bx-water'></i>
                    <span class="name">Water Activity</span>
                </a>
                <i class='bx bxs-chevron-down'></i>
            </div>
            <div class="submenu">
                <!-- <a href="#" class="link submenu-title">Category</a> -->
                <a href="FO-117 Water Activity Sample Prep Log Sheet.html" class="link">Sample Prep Log Sheet</a>
                <a href="FO-046 Water Activity Data Sheet.html" class="link">Data Sheet</a>
                <a href="#" class="link">LQC report</a>
            </div>
        </li>
    <!----------------------------------------------------------------->    

    <!-------------- Dropdown List  for Micro Documents ------- -->
        <li class="dropdown">
            <div class="title">
                <a href="#" class="link">
                    <i class='bx bx-search'></i>
                    <span class="name">Micro</span>
                </a>
                <i class='bx bxs-chevron-down'></i>
            </div>
            <div class="submenu">
                <!-- <a href="#" class="link submenu-title">Category</a> -->
                <a href="FO-122 Micro Sample Prep Log Sheet.html" class="link">Sample Prep Log Sheet</a>
                <a href="FO-106 Micro impurities Data Sheet.html" class="link">Data Sheet</a>
                <a href="#" class="link">LQC report</a>
            </div>
        </li>
    <!----------------------------------------------------------------->    
    
    

    <!-------------- Dropdown List  for Pesticides/Mycotoxins Documents ------- -->
        <li class="dropdown">
            <div class="title">
                <a href="#" class="link">
                    <i class='bx bx-bug-alt'></i>
                    <span class="name">Pesticides / Mycotoxins</span>
                </a>
                <i class='bx bxs-chevron-down'></i>
            </div>
            <div class="submenu">
                <!-- <a href="#" class="link submenu-title">Category</a> -->
                <a href="FO-120 Pest_Myc Sample Prep Log Sheet.html" class="link">Sample Prep Log Sheet</a>
                <a href="FO-103 Pest_Myc Data Sheet.html" class="link">Data Sheet</a>
                <a href="#" class="link">LQC report</a>
            </div>
        </li>
    <!----------------------------------------------------------------->        

    <!-------------- Dropdown List  for Residual Solvents Documents ------- -->
        <li class="dropdown">
            <div class="title">
                <a href="#" class="link">
                    <i class='bx bx-test-tube'></i>
                    <span class="name">Residual Solvents</span>
                </a>
                <i class='bx bxs-chevron-down'></i>
            </div>
            <div class="submenu">
                <!-- <a href="#" class="link submenu-title">Category</a> -->
                <a href="FO-119 RSA Sample Prep Log Sheet.html" class="link">Sample Prep Log Sheet</a>
                <a href="FO-076 RSA Data Sheet.html" class="link">Data Sheet</a>
                <a href="#" class="link">LQC report</a>
            </div>
        </li>
    <!----------------------------------------------------------------->  

    <!-------------- Dropdown List  for Foreign Material Documents ------- -->
        <li class="dropdown">
            <div class="title">
                <a href="#" class="link">
                    <i class='bx bx-book-content'></i>
                    <span class="name">Foreign Material</span>
                </a>
                <i class='bx bxs-chevron-down'></i>
            </div>
            <div class="submenu">
                <!-- <a href="#" class="link submenu-title">Category</a> -->
                <a href="FO-123 FFM Sample Prep Log Sheet.html" class="link">Sample Prep Log Sheet</a>
                <a href="FO-128 FFM Data Sheet.html" class="link">Data Sheet</a>
                <a href="#" class="link">LQC report</a>
            </div>
        </li>
    <!----------------------------------------------------------------->  

    <!-------------- Dropdown List  for Moisture Content Documents ------- -->
        <li class="dropdown">
            <div class="title">
                <a href="#" class="link">
                    <i class='bx bx-droplet'></i>
                    <span class="name">Moisture Content</span>
                </a>
                <i class='bx bxs-chevron-down'></i>
            </div>
            <div class="submenu">
                <!-- <a href="#" class="link submenu-title">Category</a> -->
                <a href="FO-124 MC Sample Prep Log Sheet.html" class="link">Sample Prep Log Sheet</a>
                <a href="FO-125 MC Data Sheet.html" class="link">Data Sheet</a>
                <a href="#" class="link">LQC report</a>
            </div>
        </li>
    <!----------------------------------------------------------------->  

    <!-------------- Dropdown List  for Heavy Metals Documents ------- -->
        <li class="dropdown">
            <div class="title">
                <a href="#" class="link">
                    <i class='bx bx-microchip'></i>
                    <span class="name">Heavy Metals</span>
                </a>
                <i class='bx bxs-chevron-down'></i>
            </div>
            <div class="submenu">
                <!-- <a href="#" class="link submenu-title">Category</a> -->
                <a href="FO-118 Heavy Metals Sample Prep Log Sheet.html" class="link">Sample Prep Log Sheet</a>
                <a href="FO-064 HM Data Sheet.html" class="link">Data Sheet</a>
                <a href="#" class="link">LQC report</a>
            </div>
        </li>
    <!-----------------------------------------------------------------> 
    
    <!--------------List  for COA ------------------------------------>
            <li>
                <div class="title">
                    <a href="#" class="link">
                        <i class='bx bx-line-chart'></i>
                        <span class="name">COA</span>
                    </a>
                  
                </div>
                <div class="submenu">
                    <a href="#" class="link submenu-title">COA</a>
                 
                </div>
            </li>
    <!-----------------------------------------------------------------> 

        </ul>
    </div>

    <!-- ============= Home Section =============== -->
    <section class="home">
    <div>
        <div class="toggle-sidebar">
            <i class='bx bx-menu'></i>
        </div>

        <div class="topnav-centered">
            <a class="active"><b>Cannibanoids Potency (Wet Weight Percent Cannibanoid) 100x</b></a>
              </div>

        <div class="dropdown-user">
            
                <button class="dropbtn"><i class="fa fa-user"></i> User 
                </button>
                <div class="dropdown-content">
                  <!-- <a href="#">Link 1</a>
                  <a href="#">Link 2</a> -->
                  <a href="#"><i class="fa fa-sign-out"></i> Logout</a>
                </div>
        </div>
    </div>

    <hr style="margin-top: 60px;"></hr>


     <div class="" style="margin:10px;width: 100%; padding-left: 10px;">
      
       
   <!-------------Filter Elements--------------------------------------->   
     
    <form class="search-form" action="">
    <div class="" style="float: left;">
      
      <label for="gsearch">Work Group ID :</label>
      <input class="search-input" type="" id="gsearch" name="gsearch"><br>
      <button class="white-button"><i class="fa fa-filter"></i> Filter </button>
      <button class="search-reset"><i class="fa fa-refresh"></i><a href="" style="color: white;"> Refresh </a></button>
      </div>
   
    </form>
    <!-------------------------------------------------------------------------------->



<div><br><br><br><br><br><br><br></div>

     <!-- Buttons For Add New Sample and Download Excel.  -->
     <div  style="padding-top: 5px;    width: 1700px;">

               <a href="FO-080 Cannibanoids Data Sheet 2000x.html">
                <button class="search-reset"><i class="fa fa-file"></i> Cannibanoids Data Sheet 2000x  
               </button>
            </a>
            <a href="FO-080 Cannibanoids Data Sheet 100x.html">
                <button class="search-reset"><i class="fa fa-file"></i> Cannibanoids Data Sheet 100x  
               </button>
            </a>
            <a href="FO-080 Cannibanoids Data Sheet 2000x mg per g.html">
                <button class="search-reset"><i class="fa fa-exchange"></i> mg per g 2000x  
               </button>
            </a>
            <a href="FO-080 Cannibanoids Data Sheet 100x mg per g.html">
                <button class="search-reset"><i class="fa fa-exchange"></i> mg per g 100x  
               </button>
            </a>
            <a href="FO-080 Cannibanoids Data Sheet 2000x wet weight .html">
                <button class="search-reset"><i class="fa fa-balance-scale"></i> Wet Weight 2000x  
               </button>
            </a>
            <a href="FO-080 Cannibanoids Data Sheet 2000x dry weight .html">
                <button class="search-reset"><i class="fa fa-balance-scale"></i> Dry Weight 2000x  
               </button>
            </a>
            <a href="FO-080 Cannibanoids Data Sheet 100x dry weight .html">
                <button class="search-reset"><i class="fa fa-balance-scale"></i> Dry Weight 100x 
               </button>
            </a>

    </div>
 <!-------------------------------------------------------------------------------->

   <!--------------------Table Data starts Here-------------------------------------------->

<table id="example"  >
    
    </table>

    <button  class="save-button"><i class="fa fa-save" style="color: white";></i><a href="" style="color: white;"> Save Data </a></button>
    <!------------------------------End of Table Data------------------------------------------>



</div>



    </section>
<style>
    td.custom-cell{
  color: black;
  background-color: black;
}

</style>
    <!-- Link JS -->
    <script src="assets/js/main.js"></script>
</body>
<script>
    const container = document.querySelector('#example');

const hot = new Handsontable(container, {
    data: [
    ['','', '', '','', '', '', '', '','','', '', '', '','',''],
    ['','', '', '','', '', '', '', '','','', '', '', '','',''],
    ['','', '', '','', '', '', '', '','','', '', '', '','',''],
    ['','', '', '','', '', '', '', '','','', '', '', '','',''],
    ['','', '', '','', '', '', '', '','','', '', '', '','',''],
    ['','', '', '','', '', '', '', '','','', '', '', '','',''],
    ['','', '', '','', '', '', '', '','','', '', '', '','',''],
    ['','', '', '','', '', '', '', '','','', '', '', '','',''],
    ['','', '', '','', '', '', '', '','','', '', '', '','',''],
    ['','', '', '','', '', '', '', '','','', '', '', '','',''],
    ['','', '', '','', '', '', '', '','','', '', '', '','',''],
    ['','', '', '','', '', '', '', '','','', '', '', '','',''],
    ['','', '', '','', '', '', '', '','','', '', '', '','',''],
    ['','', '', '','', '', '', '', '','','', '', '', '','',''],
    ['','', '', '','', '', '', '', '','','', '', '', '','',''],
    ['','', '', '','', '', '', '', '','','', '', '', '','',''],
    ['','', '', '','', '', '', '', '','','', '', '', '','',''],
    ['','', '', '','', '', '', '', '','','', '', '', '','',''],
    ['','', '', '','', '', '', '', '','','', '', '', '','',''],
    ['','', '', '','', '', '', '', '','','', '', '', '','',''],
    ['','', '', '','', '', '', '', '','','', '', '', '','',''],
    ['','', '', '','', '', '', '', '','','', '', '', '','',''],
    ['','', '', '','', '', '', '', '','','', '', '', '','',''],
    ['','', '', '','', '', '', '', '','','', '', '', '','',''],
    ['','', '', '','', '', '', '', '','','', '', '', '','',''],
    ['','', '', '','', '', '', '', '','','', '', '', '','',''],
    ['','', '', '','', '', '', '', '','','', '', '', '','',''],
  ],

  
    

  rowHeaders: ['ICV','CCV 1','MB','LCS','Sample 1','Sample 1 (LRS)','Sample 2','Sample 3','Sample 4','Sample 5','Sample 6','Sample 7',
               'Sample 8','Sample 9','Sample 10','CCV 2','Sample 11','Sample 12', 'Sample 13', 'Sample 14',
               'Sample 15', 'Sample 16', 'Sample 17', 'Sample 18', 'Sample 19', 'Sample 20','CCV 3'],

  colHeaders: ['Sample ID','','CBDVA', 'CBDV', 'CBDA', 'CBGA', 'CBG', 'CBD', 'THCV', 'THCVA', 'CBN', 'd9-THC', 'd8-THC', 'THCA', 'CBC', 'CBCA'],
  className: 'custom-table',
  mergeCells: [
     { row: 0, col: 1, rowspan: 27, colspan: 1 },
     { row: 0, col: 2, rowspan: 2, colspan: 14 },
     { row: 15, col: 2, rowspan: 1, colspan: 14 },
     { row: 26, col: 2, rowspan: 1, colspan: 14 },
  ],

  cell: [
    {
        row: 0,col: 1,className: 'custom-cell',
    },
    { row: 0, col: 2, className: 'custom-cell' },
    { row: 15, col: 2, className: 'custom-cell' },
    { row: 26, col: 2, className: 'custom-cell' },
    
  ],

//   width: '100%',
  rowHeaderWidth: 110,
  rowHeights: 30,
  colWidths: ['140','20','100','120','170','100','100','100','100','100','100','100','100','100','100','100','100','100','100','100','100','100','100','100','100','100','100'],
  className: 'htCenter htMiddle',

  licenseKey: '',
});


</script>
</html>