
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FO-103 Pest_Myc Data Sheet</title>

    <!-- Box Icons  -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!-- Styles  -->
    <link rel="shortcut icon" href="assets/img/kxp_fav.png" type="image/x-icon">
    
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/css/table.css" />
<script type="text/javascript" src="assets/js/table.js"></script>
<style>
</style>
</head>

<body>
    <div class="sidebar ">

        <!-- If you want to by-default open the side-navbar as closed then use the below line.
        <div class="sidebar close"> -->


        <!-- ========== Logo ============  -->
        <a href="#" class="logo-box">
            <i class='bx bxl-xing'></i>
            <div class="logo-name">LIMS</div>
        </a>

        <!-- ========== List ============  -->
        <ul class="sidebar-list">
            <!-- -------- Home List Item ------- -->
            <li>
                <div class="title">
                    <!-- <a href="home.html" class="link">
                        <i class='bx bx-home'></i>
                        <span class="name">Home</span>
                    </a> -->
                    <!-- <i class='bx bxs-chevron-down'></i> -->
                </div>
                <!-- <div class="submenu">
                    <a href="index.html" class="link submenu-title">Home</a>
                </div> -->
            </li>

        <!-------------- Dropdown List  for Intake documents ------- -->
            <li class="dropdown">
                <div class="title">
                    <a href="#" class="link">
                        <i class='bx bx-collection'></i>
                        <span class="name">Intake Docs</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="submenu">
                    <!-- <a href="#" class="link submenu-title">Category</a> -->
                    <a href="Chain of Custody.html" class="link">Chain Of Custody</a>
                    <a href="Sample Intake log.html" class="link">Sample Intake Log</a>
                    <a href="Sample Intake log.html" class="link">Sample Retain Log</a>
                    <a href="Sample Tracking Log.html" class="link">Sample Tracking Sheet</a>
                </div>
            </li>
        <!----------------------------------------------------------------->

        <!-------------- Dropdown List  for Cannabinoids Documents ------- -->
        <li class="dropdown">
            <div class="title">
                <a href="#" class="link">
                    <i class='bx bx-leaf'></i>
                    <span class="name">Cannabinoids</span>
                </a>
                <i class='bx bxs-chevron-down'></i>
            </div>
            <div class="submenu">
                <!-- <a href="#" class="link submenu-title">Category</a> -->
                <a href="FO-121 Cannabinoids Sample Prep Log Sheet.html" class="link">Sample Prep Log Sheet</a>
                <a href="FO-080 Cannibanoids Data Sheet 2000x.html" class="link">Data Sheet</a>
                <a href="#" class="link">LQC report</a>
            </div>
        </li>
    <!----------------------------------------------------------------->

    <!-------------- Dropdown List  for Water Activity Documents ------- -->
        <li class="dropdown">
            <div class="title">
                <a href="#" class="link">
                    <i class='bx bx-water'></i>
                    <span class="name">Water Activity</span>
                </a>
                <i class='bx bxs-chevron-down'></i>
            </div>
            <div class="submenu">
                <!-- <a href="#" class="link submenu-title">Category</a> -->
                <a href="FO-117 Water Activity Sample Prep Log Sheet.html" class="link">Sample Prep Log Sheet</a>
                <a href="FO-046 Water Activity Data Sheet.html" class="link">Data Sheet</a>
                <a href="#" class="link">LQC report</a>
            </div>
        </li>
    <!----------------------------------------------------------------->    

    <!-------------- Dropdown List  for Micro Documents ------- -->
        <li class="dropdown">
            <div class="title">
                <a href="#" class="link">
                    <i class='bx bx-search'></i>
                    <span class="name">Micro</span>
                </a>
                <i class='bx bxs-chevron-down'></i>
            </div>
            <div class="submenu">
                <!-- <a href="#" class="link submenu-title">Category</a> -->
                <a href="FO-122 Micro Sample Prep Log Sheet.html" class="link">Sample Prep Log Sheet</a>
                <a href="FO-106 Micro impurities Data Sheet.html" class="link">Data Sheet</a>
                <a href="#" class="link">LQC report</a>
            </div>
        </li>
    <!----------------------------------------------------------------->    
    
    

    <!-------------- Dropdown List  for Pesticides/Mycotoxins Documents ------- -->
        <li class="dropdown">
            <div class="title">
                <a href="#" class="link">
                    <i class='bx bx-bug-alt'></i>
                    <span class="name">Pesticides / Mycotoxins</span>
                </a>
                <i class='bx bxs-chevron-down'></i>
            </div>
            <div class="submenu">
                <!-- <a href="#" class="link submenu-title">Category</a> -->
                <a href="FO-120 Pest_Myc Sample Prep Log Sheet.html" class="link">Sample Prep Log Sheet</a>
                <a href="FO-103 Pest_Myc Data Sheet.html" class="link">Data Sheet</a>
                <a href="#" class="link">LQC report</a>
            </div>
        </li>
    <!----------------------------------------------------------------->        

    <!-------------- Dropdown List  for Residual Solvents Documents ------- -->
        <li class="dropdown">
            <div class="title">
                <a href="#" class="link">
                    <i class='bx bx-test-tube'></i>
                    <span class="name">Residual Solvents</span>
                </a>
                <i class='bx bxs-chevron-down'></i>
            </div>
            <div class="submenu">
                <!-- <a href="#" class="link submenu-title">Category</a> -->
                <a href="FO-119 RSA Sample Prep Log Sheet.html" class="link">Sample Prep Log Sheet</a>
                <a href="FO-076 RSA Data Sheet.html" class="link">Data Sheet</a>
                <a href="#" class="link">LQC report</a>
            </div>
        </li>
    <!----------------------------------------------------------------->  

    <!-------------- Dropdown List  for Foreign Material Documents ------- -->
        <li class="dropdown">
            <div class="title">
                <a href="#" class="link">
                    <i class='bx bx-book-content'></i>
                    <span class="name">Foreign Material</span>
                </a>
                <i class='bx bxs-chevron-down'></i>
            </div>
            <div class="submenu">
                <!-- <a href="#" class="link submenu-title">Category</a> -->
                <a href="FO-123 FFM Sample Prep Log Sheet.html" class="link">Sample Prep Log Sheet</a>
                <a href="FO-128 FFM Data Sheet.html" class="link">Data Sheet</a>
                <a href="#" class="link">LQC report</a>
            </div>
        </li>
    <!----------------------------------------------------------------->  

    <!-------------- Dropdown List  for Moisture Content Documents ------- -->
        <li class="dropdown">
            <div class="title">
                <a href="#" class="link">
                    <i class='bx bx-droplet'></i>
                    <span class="name">Moisture Content</span>
                </a>
                <i class='bx bxs-chevron-down'></i>
            </div>
            <div class="submenu">
                <!-- <a href="#" class="link submenu-title">Category</a> -->
                <a href="FO-124 MC Sample Prep Log Sheet.html" class="link">Sample Prep Log Sheet</a>
                <a href="FO-125 MC Data Sheet.html" class="link">Data Sheet</a>
                <a href="#" class="link">LQC report</a>
            </div>
        </li>
    <!----------------------------------------------------------------->  

    <!-------------- Dropdown List  for Heavy Metals Documents ------- -->
        <li class="dropdown">
            <div class="title">
                <a href="#" class="link">
                    <i class='bx bx-microchip'></i>
                    <span class="name">Heavy Metals</span>
                </a>
                <i class='bx bxs-chevron-down'></i>
            </div>
            <div class="submenu">
                <!-- <a href="#" class="link submenu-title">Category</a> -->
                <a href="FO-118 Heavy Metals Sample Prep Log Sheet.html" class="link">Sample Prep Log Sheet</a>
                <a href="FO-064 HM Data Sheet.html" class="link">Data Sheet</a>
                <a href="#" class="link">LQC report</a>
            </div>
        </li>
    <!-----------------------------------------------------------------> 
    
    <!--------------List  for COA ------------------------------------>
            <li>
                <div class="title">
                    <a href="#" class="link">
                        <i class='bx bx-line-chart'></i>
                        <span class="name">COA</span>
                    </a>
                  
                </div>
                <div class="submenu">
                    <a href="#" class="link submenu-title">COA</a>
                 
                </div>
            </li>
    <!-----------------------------------------------------------------> 

        </ul>
    </div>
    <!-- ============= Home Section =============== -->
    <section class="home">
    <div>
        <div class="toggle-sidebar">
            <i class='bx bx-menu'></i>
        </div>

        <div class="topnav-centered">
                <a class="active"><b>Pesticides and Mycotoxins Data Sheet</b></a>
              </div>

        <div class="dropdown-user">
            
                <button class="dropbtn"><i class="fa fa-user"></i> User 
                </button>
                <div class="dropdown-content">
                  <!-- <a href="#">Link 1</a>
                  <a href="#">Link 2</a> -->
                  <a href="#"><i class="fa fa-sign-out"></i> Logout</a>
                </div>
        </div>
    </div>

    <hr style="margin-top: 60px;"></hr>


     <div class="" style="margin:10px;width: 100%; padding-left: 10px;">
      
       
   <!-------------Filter Elements--------------------------------------->   
     
    <form class="search-form" action="">
    <div class="" style="float: left;">
      
      <label for="gsearch">Work Group ID :</label>
      <input class="search-input" type="" id="gsearch" name="gsearch"><br>
      <button class="white-button"><i class="fa fa-filter"></i> Filter </button>
      <button class="search-reset"><i class="fa fa-refresh"></i><a href="" style="color: white;"> Refresh </a></button>
      </div>
   
    </form>
    <!-------------------------------------------------------------------------------->



<div><br><br><br><br><br><br><br></div>

     <!-- Buttons For Add New Sample and Download Excel.  -->
     <div  style="padding-top: 5px;">

        <!-- <button class="search-input"><i class="fa fa-plus"></i> Add sample 
               </button>  -->
               <a href="FO-103 Pest_Myc Data Sheet ug per gram.html">
                <button class="search-reset"><i class="fa fa-exchange"></i> ug per gram  
               </button>
            </a>
  <!--  <input class="search-reset" type="submit" value="Add sample"></input>
     <input class="search-reset" type="submit" value="Download Excel"></input> -->
    </div>
 <!-------------------------------------------------------------------------------->

   <!--------------------Table Data starts Here-------------------------------------------->
<table id="example"  >
    
    </table>
 <button  class="save-button"><i class="fa fa-save" style="color: white";></i><a href="" style="color: white;"> Save Data </a></button>
 <a href="FO-103 Pest_Myc Data Sheet ug per gram.html">
    <button class="search-reset"><i class="fa fa-exchange"></i> ug per gram  
   </button>
</a>
    <!------------------------------End of Table Data------------------------------------------>
</div>

    </section>
<style>
    td.custom-cell{
  color: black;
  background-color: black;
}

</style>
    <!-- Link JS -->
    <script src="assets/js/main.js"></script>
</body>
<script>
    const container = document.querySelector('#example');

const hot = new Handsontable(container, {
    data: [
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
    ['','', '', '', '', '', '','', '', '', '', '','','', '', '', '', '','','', '', '', '', '','','', ''],
  ],

  
    

  rowHeaders: ['<b>Sample ID','<b>Analytes (ppb)', 'Abamectin (ppb)', 'Acephate (ppb)', 'Acequinocyl (ppb)', 'Acetameprid (ppb)', 'Aldicarb (ppb)', 
                'Azoxystrobin (ppb)', 'Bifenzate (ppb)', 'Bifenthrin (ppb)', 'Boscalid (ppb)', 'Captan (ppb)', 'Cabaryl (ppb)', 'Carbofuran (ppb)',
                'Chlorantraniliprole (ppb)', 'Chlorpyrifos (ppb)', 'Cinerin-I (ppb)', 'Cinerin-II (ppb)', 'Chlofentezine (ppb)', 'Coumaphos (ppb)',
                'Cyfluthrin (ppb)', 'Cypermethrin (ppb)', 'Daminozide (ppb)', 'Diazinon (ppb)', 'Dichlorvos (ppb)', 'Dimethoate (ppb)', 'Dimethomorph (ppb)',
                'Ethoprophos (ppb)', 'Etofenprox (ppb)', 'Etoxazole (ppb)', 'Fenhexamid (ppb)', 'Fenoxycarb (ppb)', 'Fenpiroximate (ppb)', 'Fipronil (ppb)',
                'Flunicamide (ppb)', 'Fluidioxinil (ppb)', 'Hexythiox (ppb)', 'Imidazil (ppb)', 'Imidacloprid (ppb)', 'Jasmolin-I (ppb)', 'Jasmolin-II (ppb)', 
                'Kreoxim-methyl (ppb)', 'Malathion (ppb)', 'Metalaxyl (ppb)', 'Methiocarb (ppb)', 'Methomyl (ppb)', 'Mevinphos (ppb)', 'Myclobutanil (ppb)', 
                'Naled (ppb)', 'Oxamyl (ppb)', 'Paclobutrazole (ppb)', 'Permethrin (ppb)', 'Phosmet (ppb)', 'Pipronyl Butoxide (ppb)', 'Prallethrin (ppb)', 
                'Propiconazole (ppb)', 'Propoxur (ppb)', 'Pyrethrin-I (ppb)', 'Pyrethrin-II (ppb)', 'Pyridaben (ppb)', 'Spinotram-J (ppb)', 'Spinotram-L (ppb)', 
                'Spinosyn-A (ppb)', 'Spinosyn D (ppb)', 'Spiromesafen (ppb)', 'Spirotetramat (ppb)', 'Spiroxamine (ppb)', 'Tebuconazole (ppb)', 'Thiacloprid (ppb)', 
                'Thiamethoxam (ppb)', 'Trifloxystrobin (ppb)', '<h4>APCI Source Analysis</h4>','Methyl Parathion-2 (ppb)', 'Chlorfenapyr-1 (ppb)', 'Chordane-2 (ppb)', 'PCNB-1 (ppb)', 
                '<h4>Mycotoxins Analysis','Mycotoxin B1 (ppb)', 'Mycotoxin B2 (ppb)', 'Mycotoxin G1 (ppb)', 'Mycotoxin G2 (ppb)', 'Ochratoxin A (ppb)'],

  colHeaders: ['ICV','CCV1','MB','LCS','Sample 1','Sample 1 Dup','Sample 2','Sample 3','Sample 4','Sample 5','Sample 6','Sample 7',
               'Sample 8','Sample 9','Sample 10','CCV2','Sample 11','Sample 12', 'Sample 13', 'Sample 14',
               'Sample 15', 'Sample 16', 'Sample 17', 'Sample 18', 'Sample 19', 'Sample 20','CCV3'],
  className: 'custom-table',
  cell: [
    {
        row: 1,col: 0,className: 'custom-cell',
    },
    {
        row: 1,col: 1,className: 'custom-cell',
    },
    {
        row: 1,col: 2,className: 'custom-cell',
    },
    {
        row: 1,col: 3,className: 'custom-cell',
    },
    {
        row: 1,col: 4,className: 'custom-cell',
    },
    {
        row: 1,col: 5,className: 'custom-cell',
    },
    {
        row: 1,col: 6,className: 'custom-cell',
    },  
    {
        row: 1,col: 7,className: 'custom-cell',
    },
    {
        row: 1,col: 8,className: 'custom-cell',
    },
    {
        row: 1,col: 9,className: 'custom-cell',
    },
    {
        row: 1,col: 10,className: 'custom-cell',
    },
    {
        row: 1,col: 11,className: 'custom-cell',
    },
    {
        row: 1,col: 12,className: 'custom-cell',
    },
    {
        row: 1,col: 13,className: 'custom-cell',
    },
    {
        row: 1,col: 14,className: 'custom-cell',
    },  
    {
        row: 1,col: 15,className: 'custom-cell',
    },
    {
        row: 1,col: 16,className: 'custom-cell',
    },  
    {
        row: 1,col: 17,className: 'custom-cell',
    },
    {
        row: 1,col: 18,className: 'custom-cell',
    },
    {
        row: 1,col: 19,className: 'custom-cell',
    },
    {
        row: 1,col: 20,className: 'custom-cell',
    },
    {
        row: 1,col: 21,className: 'custom-cell',
    },
    {
        row: 1,col: 22,className: 'custom-cell',
    },
    {
        row: 1,col: 23,className: 'custom-cell',
    },
    {
        row: 1,col: 24,className: 'custom-cell',
    },  
    {
        row: 1,col: 25,className: 'custom-cell',
    },
    {
        row: 1,col: 26,className: 'custom-cell',
    },
  ],

//   width: '100%',
  rowHeaderWidth: 230,
  rowHeights: 30,
  colWidths: 150,
  className: 'htCenter htMiddle',


  licenseKey: '',
});


</script>
</html>