
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FO-117 Water Activity Sample Prep Log Sheet</title>

    <!-- Box Icons  -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!-- Styles  -->
    <link rel="shortcut icon" href="assets/img/kxp_fav.png" type="image/x-icon">
    
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css'>
<link rel='stylesheet' href='https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css'><link rel="stylesheet" href="./style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/css/table.css" />
<script type="text/javascript" src="assets/js/table.js"></script>
<style>

</style>
</head>

<body>
    <div class="sidebar ">

        <!-- If you want to by-default open the side-navbar as closed then use the below line.
        <div class="sidebar close"> -->


        <!-- ========== Logo ============  -->
        <a href="#" class="logo-box">
            <i class='bx bxl-xing'></i>
            <div class="logo-name">LIMS</div>
        </a>

        <!-- ========== List ============  -->
        <ul class="sidebar-list">
            <!-- -------- Home List Item ------- -->
            <li>
                <div class="title">
                    <!-- <a href="home.html" class="link">
                        <i class='bx bx-home'></i>
                        <span class="name">Home</span>
                    </a> -->
                    <!-- <i class='bx bxs-chevron-down'></i> -->
                </div>
                <!-- <div class="submenu">
                    <a href="index.html" class="link submenu-title">Home</a>
                </div> -->
            </li>

        <!-------------- Dropdown List  for Intake documents ------- -->
            <li class="dropdown">
                <div class="title">
                    <a href="#" class="link">
                        <i class='bx bx-collection'></i>
                        <span class="name">Intake Docs</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="submenu">
                    <!-- <a href="#" class="link submenu-title">Category</a> -->
                    <a href="Chain of Custody.html" class="link">Chain Of Custody</a>
                    <a href="Sample Intake log.html" class="link">Sample Intake Log</a>
                    <a href="Sample Intake log.html" class="link">Sample Retain Log</a>
                    <a href="Sample Tracking Log.html" class="link">Sample Tracking Sheet</a>
                </div>
            </li>
        <!----------------------------------------------------------------->

        <!-------------- Dropdown List  for Cannabinoids Documents ------- -->
        <li class="dropdown">
            <div class="title">
                <a href="#" class="link">
                    <i class='bx bx-leaf'></i>
                    <span class="name">Cannabinoids</span>
                </a>
                <i class='bx bxs-chevron-down'></i>
            </div>
            <div class="submenu">
                <!-- <a href="#" class="link submenu-title">Category</a> -->
                <a href="FO-121 Cannabinoids Sample Prep Log Sheet.html" class="link">Sample Prep Log Sheet</a>
                <a href="FO-080 Cannibanoids Data Sheet 2000x.html" class="link">Data Sheet</a>
                <a href="#" class="link">LQC report</a>
            </div>
        </li>
    <!----------------------------------------------------------------->

    <!-------------- Dropdown List  for Water Activity Documents ------- -->
        <li class="dropdown">
            <div class="title">
                <a href="#" class="link">
                    <i class='bx bx-water'></i>
                    <span class="name">Water Activity</span>
                </a>
                <i class='bx bxs-chevron-down'></i>
            </div>
            <div class="submenu">
                <!-- <a href="#" class="link submenu-title">Category</a> -->
                <a href="FO-117 Water Activity Sample Prep Log Sheet.html" class="link">Sample Prep Log Sheet</a>
                <a href="FO-046 Water Activity Data Sheet.html" class="link">Data Sheet</a>
                <a href="#" class="link">LQC report</a>
            </div>
        </li>
    <!----------------------------------------------------------------->    

    <!-------------- Dropdown List  for Micro Documents ------- -->
        <li class="dropdown">
            <div class="title">
                <a href="#" class="link">
                    <i class='bx bx-search'></i>
                    <span class="name">Micro</span>
                </a>
                <i class='bx bxs-chevron-down'></i>
            </div>
            <div class="submenu">
                <!-- <a href="#" class="link submenu-title">Category</a> -->
                <a href="FO-122 Micro Sample Prep Log Sheet.html" class="link">Sample Prep Log Sheet</a>
                <a href="FO-106 Micro impurities Data Sheet.html" class="link">Data Sheet</a>
                <a href="#" class="link">LQC report</a>
            </div>
        </li>
    <!----------------------------------------------------------------->    
    
    

    <!-------------- Dropdown List  for Pesticides/Mycotoxins Documents ------- -->
        <li class="dropdown">
            <div class="title">
                <a href="#" class="link">
                    <i class='bx bx-bug-alt'></i>
                    <span class="name">Pesticides / Mycotoxins</span>
                </a>
                <i class='bx bxs-chevron-down'></i>
            </div>
            <div class="submenu">
                <!-- <a href="#" class="link submenu-title">Category</a> -->
                <a href="FO-120 Pest_Myc Sample Prep Log Sheet.html" class="link">Sample Prep Log Sheet</a>
                <a href="FO-103 Pest_Myc Data Sheet.html" class="link">Data Sheet</a>
                <a href="#" class="link">LQC report</a>
            </div>
        </li>
    <!----------------------------------------------------------------->        

    <!-------------- Dropdown List  for Residual Solvents Documents ------- -->
        <li class="dropdown">
            <div class="title">
                <a href="#" class="link">
                    <i class='bx bx-test-tube'></i>
                    <span class="name">Residual Solvents</span>
                </a>
                <i class='bx bxs-chevron-down'></i>
            </div>
            <div class="submenu">
                <!-- <a href="#" class="link submenu-title">Category</a> -->
                <a href="FO-119 RSA Sample Prep Log Sheet.html" class="link">Sample Prep Log Sheet</a>
                <a href="FO-076 RSA Data Sheet.html" class="link">Data Sheet</a>
                <a href="#" class="link">LQC report</a>
            </div>
        </li>
    <!----------------------------------------------------------------->  

    <!-------------- Dropdown List  for Foreign Material Documents ------- -->
        <li class="dropdown">
            <div class="title">
                <a href="#" class="link">
                    <i class='bx bx-book-content'></i>
                    <span class="name">Foreign Material</span>
                </a>
                <i class='bx bxs-chevron-down'></i>
            </div>
            <div class="submenu">
                <!-- <a href="#" class="link submenu-title">Category</a> -->
                <a href="FO-123 FFM Sample Prep Log Sheet.html" class="link">Sample Prep Log Sheet</a>
                <a href="FO-128 FFM Data Sheet.html" class="link">Data Sheet</a>
                <a href="#" class="link">LQC report</a>
            </div>
        </li>
    <!----------------------------------------------------------------->  

    <!-------------- Dropdown List  for Moisture Content Documents ------- -->
        <li class="dropdown">
            <div class="title">
                <a href="#" class="link">
                    <i class='bx bx-droplet'></i>
                    <span class="name">Moisture Content</span>
                </a>
                <i class='bx bxs-chevron-down'></i>
            </div>
            <div class="submenu">
                <!-- <a href="#" class="link submenu-title">Category</a> -->
                <a href="FO-124 MC Sample Prep Log Sheet.html" class="link">Sample Prep Log Sheet</a>
                <a href="FO-125 MC Data Sheet.html" class="link">Data Sheet</a>
                <a href="#" class="link">LQC report</a>
            </div>
        </li>
    <!----------------------------------------------------------------->  

    <!-------------- Dropdown List  for Heavy Metals Documents ------- -->
        <li class="dropdown">
            <div class="title">
                <a href="#" class="link">
                    <i class='bx bx-microchip'></i>
                    <span class="name">Heavy Metals</span>
                </a>
                <i class='bx bxs-chevron-down'></i>
            </div>
            <div class="submenu">
                <!-- <a href="#" class="link submenu-title">Category</a> -->
                <a href="FO-118 Heavy Metals Sample Prep Log Sheet.html" class="link">Sample Prep Log Sheet</a>
                <a href="FO-064 HM Data Sheet.html" class="link">Data Sheet</a>
                <a href="#" class="link">LQC report</a>
            </div>
        </li>
    <!-----------------------------------------------------------------> 
    
    <!--------------List  for COA ------------------------------------>
            <li>
                <div class="title">
                    <a href="#" class="link">
                        <i class='bx bx-line-chart'></i>
                        <span class="name">COA</span>
                    </a>
                  
                </div>
                <div class="submenu">
                    <a href="#" class="link submenu-title">COA</a>
                 
                </div>
            </li>
    <!-----------------------------------------------------------------> 

        </ul>
    </div>
    <!-- ============= Home Section =============== -->
    <section class="home">
    <div>
        <div class="toggle-sidebar">
            <i class='bx bx-menu'></i>
        </div>

        <div class="topnav-centered">
                <a class="active"><b>FO-117 Water Activity Sample Prep Log Sheet</b></a>
              </div>

        <div class="dropdown-user">
            
                <button class="dropbtn"><i class="fa fa-user"></i> User 
                </button>
                <div class="dropdown-content">
                  <!-- <a href="#">Link 1</a>
                  <a href="#">Link 2</a> -->
                  <a href="#"><i class="fa fa-sign-out"></i> Logout</a>
                </div>
        </div>
    </div>

    <hr style="margin-top: 60px;"></hr>


     <div class="" style="margin:10px;width: 100%;">
      
       
   <!-------------Filter Elements--------------------------------------->   

    <form class="search-form" action="">
    <div class="" style="float: left;">
      
      <label for="gsearch">Work Group ID :</label>
      <input class="search-input" type="" id="gsearch" name="gsearch"><br>
      <button class="white-button"><i class="fa fa-filter"></i> Filter </button>
      <button class="search-reset"><i class="fa fa-refresh"></i><a href="" style="color: white;"> Refresh </a></button>
      </div>
   
    </form>
    <!-------------------------------------------------------------------------------->
    <div>

     <!-------------------------------------------------------------------------------->

     <!-- Buttons For Add New Sample and Download Excel.  -->

     <form class="search-form" style="border-color: gray; " action="">
        <div class="" style="float: left; width: 590px;">

            <label for="gsearch">Written by: </label>          
          <input class="search-input" size="49" style="border-color: gray;" type="" id="gsearch" name="gsearch"><br>
          <label for="gsearch">Reviewed by:</label>            
          <input class="search-input" size="46" style="border-color: gray;" type="" id="gsearch" name="gsearch"><br>
          <label for="gsearch"> Approved by:</label>             
          <input class="search-input" size="46" style="border-color: gray;" type="" id="gsearch" name="gsearch"><br>
      
        </div>

          <div class="" style="float: right; width: 300px;    ">
            <label for="gsearch">Date implemented: </label> 
            <input class="search-input" style="border-color: gray;" type="date" id="datePicker" name="gsearch"><br>
            <script>
                document.getElementById('datePicker').valueAsDate = new Date();
                        </script>
          </div>

    
        </form><br>


     <form class="search-form" style="border-color: gray;" action="">
        <div class="" style="float: left; width: 520px;">
            <label for="gsearch">Analysis Type: </label>          
          <input class="search-input" style="border-color: gray;" size="30" type="" value="Water Activity" id="gsearch" name="gsearch"><br>

          <label for="gsearch">Date: </label> 
          <input class="search-input" style="border-color: gray; color: grey;"  type="date" id="gsearch" name="gsearch"><br>

          <label for="gsearch"> WG #:</label>             
          <input class="search-input" style="border-color: gray;" type="" size="38" id="gsearch" name="gsearch"><br>
      
        </div>

          <div class="" style="float: right;     width: 370px;">
            <label for="gsearch">Prep:</label>            
          <input class="search-input" style="border-color: gray;" size="33" type="" id="gsearch" name="gsearch"><br>
          <label for="gsearch">Dilution:</label>            
          <input class="search-input" style="border-color: gray;" size="30" type="" id="gsearch" name="gsearch"><br>
          <label for="gsearch">Analysis:</label>            
          <input class="search-input" style="border-color: gray;" size="29" type="" id="gsearch" name="gsearch"><br>

          </div>

    
        </form><br><br><br><br><br><br><br><br><br>
   <!--  <input class="search-reset" type="submit" value="Add sample"></input>
      <input class="search-reset" type="submit" value="Download Excel"></input> -->

  <!-------------------------------------------------------------------------------->
  </div>

  <!--------------------Table Data starts Here-------------------------------------------->






<table id="example"  >
    

    </table>
 <button  class="save-button" ><i class="fa fa-save" ></i><a href="" style="color: white;"> Save Data </a></button>
    <!------------------------------End of Table Data------------------------------------------>
</div>

    </section>



    <!-- Link JS -->
    <script src="assets/js/main.js"></script>
</body>
<script>
    const container = document.querySelector('#example');

const hot = new Handsontable(container, {
  data: [
    ['', '', 'N/A', 'N/A', 'N/A', '', 'N/A'],
    ['', '', 'N/A', 'N/A', 'N/A', '', 'N/A'],
    ['', '', 'N/A', 'N/A', 'N/A', '', 'N/A'],
    ['', '', 'N/A', 'N/A', 'N/A', '', 'N/A'],
    ['', '', 'N/A', 'N/A', 'N/A', '', 'N/A'],
    ['', '', 'N/A', 'N/A', 'N/A', '', 'N/A'],
    ['', '', 'N/A', 'N/A', 'N/A', '', 'N/A'],
    ['', '', 'N/A', 'N/A', 'N/A', '', 'N/A'],
    ['', '', 'N/A', 'N/A', 'N/A', '', 'N/A'],
    ['', '', 'N/A', 'N/A', 'N/A', '', 'N/A'],
    ['', '', 'N/A', 'N/A', 'N/A', '', 'N/A'],
    ['', '', 'N/A', 'N/A', 'N/A', '', 'N/A'],
    ['', '', 'N/A', 'N/A', 'N/A', '', 'N/A'],
    ['', '', 'N/A', 'N/A', 'N/A', '', 'N/A'],
    ['', '', 'N/A', 'N/A', 'N/A', '', 'N/A'],
    ['', '', 'N/A', 'N/A', 'N/A', '', 'N/A'],
    ['', '', 'N/A', 'N/A', 'N/A', '', 'N/A'],
    ['', '', 'N/A', 'N/A', 'N/A', '', 'N/A'],
    ['', '', 'N/A', 'N/A', 'N/A', '', 'N/A'],
    ['', '', 'N/A', 'N/A', 'N/A', '', 'N/A'],
    ['', '', 'N/A', 'N/A', 'N/A', '', 'N/A'],
    ['', '', '', '', '', '',''],
    ['', '', '', '', '', '',''],
    ['LCS', '', 'N/A', 'N/A', 'N/A','Spiked with LiCl + H2O', 'N/A'],
    ['MB', '', 'N/A', 'N/A', 'N/A', '', 'N/A'],



  ],
  rowHeaders: ['1', '2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','Duplicate','','','LCS','MB'],
  colHeaders: ['Sample ID', 'Weight (g)', 'Solvent', 'Solvent Vol (ml)', 'Spike vol (ul)','Notes','Analysis Dilution'],
//   width: '100%',
  rowHeaderWidth: 70,
  rowHeights: 40,
  colWidths: [220, 100, 150,120,120, 400, 200],
  className: 'htCenter htMiddle',


  licenseKey: ''
});
</script>
</html>