{% extends 'base.html' %}
{% load static %}
{% block title %}
LIMS | Home
{% endblock %}
{% block Content %}
    Home
{% endblock %}
{% block body %}
      <hr style="margin-top: 60px;">
      </hr>
      <div style="margin: 5%;">
         <br><br><br>
         <h4 style="text-align: center;">You have Successfully Logged In. Welcome to LIMS Portal.</h4>
         <div style="text-align: center">
            <img src="{% static 'assets/img/smile2.png' %}" style="width: 8%; margin-top: 20px;">
         </div>
      </div>
{% endblock %}